{% extends 'base.html.twig' %}

{% block body %}
<main class="container">
    <section class="row">
        <div class="col-12">
            <h1>Site e-commerce</h1>
            <p>Bienvenue dans notre boutique</p>
            <a href="{{ path('app_parents_categories', {slug: 'avec-moderations'}) }}" class="btn">Avec modérations</a>
            <a href="{{ path('app_parents_categories', {slug: 'sans-moderations'}) }}" class="btn">Sans modérations</a>
        </div>
    </section>
</main>
{% endblock %}